<div class="container mt-3">


  <div class="searchbar form-inline search-form-control">
      <%= simple_form_for(@simulation) do |f| %>
      <%= f.input :ask_month, collection: Simulation::MONTH, label: false, prompt: "Mois", class: "dropdown-menu" %>
  </div>

<!--        <div class="form-group simul">
          <label class="control-label check_boxes optional"></label>
              <input type="hidden" name="simulation[vege_ids][]" value="">
              <div id="vege-choice" class="simulation-choix">
                <div class="category-choices vege-choices">
                  <%# Simulation::FL.each_with_index do |vege, index| %>
                    <input type="radio" class="hidden" value="<%#= index %>" name="simulation[vege_ids][]" id="simulation_vege_ids_<%#= index %>">
                    <label for="simulation_vege_ids_<%#= index %>" class="category-choice vege">
                      <%#= vege %>
                    </label>
                  <%# end %>
                </div>
              </div>
        </div> -->

        <div class="category-choices">
          <% Simulation::FL.each_with_index do |vege, index| %>
          <label>
            <input type="radio" name="demo" class="card-input-element d-none" value="<%= vege %>" name="simulation[activity_ids][]" id="simulation_activity_ids_<%= vege %>">
            <div for="simulation_vege_ids_<%= vege %>" class="card category-choice  bg-light d-flex flex-row justify-content-between align-items-center">
              <%= vege[0..9] %>
            <%= image_tag("#{vege}.png") %>
            </div>

          </label>
          <% end %>
        </div>




        <%= f.submit "Simuler", class: "button" %>

      <% end %>

      <% if @simulation.answer then %>
      <h1>ok</h1>
      <% else %>
      <h1>no</h1>
      <% end %>
</div>
