<div class="container mt-3">


  <div class="d-flex flex-row">
    <div class="searchbar form-inline search-form-control">
        <%= simple_form_for(@simulation) do |f| %>
        <%= f.input :ask_month, collection: Simulation::MONTH, label: false, prompt: "📅 Quel mois sommes-nous ?", class: "dropdown-menu" %>
    </div>
    <div class="guide ml-5 mt-4">
    <%= link_to "Ouvrir calendrier fruits et légumes par mois", "https://www.ademe.fr/sites/default/files/assets/documents/calendrier-fruits-legumes-de-saison.pdf", target: "_blank" %>
    </div>
  </div>

<h5 class="mb-4">🍳 Que souhaitez-vous cuisiner ou manger ?</h5>

        <div class="category-choices">
          <% Simulation::FL.each_with_index do |vege, index| %>
          <label>
            <input type="radio" name="demo" class="card-input-element d-none" value="<%= vege %>" name="simulation[activity_ids][]" id="simulation_activity_ids_<%= vege %>">
            <div for="simulation_vege_ids_<%= vege %>" class="card category-choice  bg-light d-flex flex-row justify-content-between align-items-center">
              <%= vege[0..9] %>
            <%= image_tag("#{vege}.png") %>
            </div>

          </label>
          <% end %>
        </div>

        <%= f.submit "Valider 🙃", class: "btn-valider"%>

      <button class="btn" type="submit" data-toggle="modal" data-target="#exampleModal">
          Est-ce que c'est la saison ? 🌾
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content m-4">
          <div class="m-3">
                <h5>Est-ce que c'est conseillé de manger un.e <%= @simulation.ask_vege %> en <%= @simulation.ask_month %> ? </h5>

                  <% if @simulation.answer %>
                    <div class="d-flex flex-row justify-content-between m-3">
                       <img height="150px" width="400px" src="/assets/yes.gif">
                       <img height="150px" width="400px" src="/assets/yes2.gif">
                       <img height="150px" width="400px" src="/assets/yes3.gif">
                     </div>

                    <p>💚 Oui, aucun souci ! <%= @simulation.ask_month %> fait partie des mois où le.a <%= @simulation.ask_vege %> est de saison.</p>
                    <span></span>
                    <p>Des conseils et recettes sur <%= link_to "Marmiton", "https://www.marmiton.org/recettes/recherche.aspx?aqt=#{@simulation.ask_vege}", target: "_blank" %></p>


                    <% else %>
                    <div class="d-flex flex-row justify-content-between m-3">
                       <img height="150px" width="400px" src="/assets/no.gif">
                       <img height="150px" width="400px" src="/assets/no2.gif">
                       <img height="150px" width="400px" src="/assets/no3.gif">
                     </div>

                    <% tableau_preference = Vegetable.select { |fl| fl.months.include?(@simulation.ask_month) }.shuffle.first(7).map { |fl2| [].push(fl2.label) }.flatten  %>
                    <p>⚠️ Le <%= @simulation.ask_vege %> n'est pas de saison en <%= @simulation.ask_month %>. Choisissez plutôt parmi : </p>
                    <ul>
                      <% tableau_preference.each do |e| %>
                      <li><%= link_to "#{e}", "https://www.marmiton.org/recettes/recherche.aspx?aqt=#{e}", target: "_blank" %></p></li>
                      <% end %>
                    </ul>

                  <% end %>

                  <%= link_to "Nouvelle simulation", new_simulation_path, class: "btn-modale new"%>


          </div>
        </div>
      </div>
    </div>


      <% end %>
<!-- <h4><%= @simulation.id %></h4>
  <h4><%= @simulation.ask_month %></h4>
  <h4><%= @simulation.ask_vege %></h4>
  <h4><%= @simulation.answer %></h4> -->

</div>
